/* CSS declarations go here */
a.navbar-brand {
	color: white !important;
	font-family: "Book Antiqua", serif;
	font-size: 24px;
}

.sign-in {
	max-width: 300px;
	width: 100%;
	margin: 0 auto;
	padding: 1px 20px 60px 20px;
	background: rgb(238, 238, 238);
	border-radius: 5px;
}

.petitions-page,.petition-form {
	max-width: 600px;
	width: 100%;
}

#logout {
	margin-top: 10px;
	margin-left: 10px;
}
#emails, #link {
	cursor: text;
	background: #f9f9f9;
	color: #666;
}

.petition-title {
	line-height: 33px;
	max-width: 300px;
	white-space: nowrap;
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
}

.petition-buttons {
	float: right;
}

textarea {
  resize: none;
	overflow-y: scroll;
}

.signer {
	width: 190px;
	height: 70px;
	padding: 10px;
	background: #eee;
	color: #777;
	border-radius: 3px;
	margin: 0;
  margin-right: 10px;
  margin-bottom: 20px;
  display: inline-block;
}

pre.petition-display {
  font-family: inherit;
  font-size: inherit;
	white-space: pre-wrap;       /* CSS 3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
  word-break: break-word;
	background: none;
  border: none;
  padding: 0;
	text-align: justify;
}